{% extends 'base.html.twig' %}

{% block title %}My Gallery{% endblock %}

{% block stylesheets %}
    <!-- Link al CSS di Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block header %}
    {% include 'header.html.twig' with { total_photos: photos|length } %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for photo in photos %}
                    <div class="col-xs-6 col-md-3 mb-4">
                        <a class="d-block mb-2" href="photo?id={{ photo.id }}">
                            <img src="{{ photo.imagePath }}" alt="{{ photo.title }}" class="img-fluid">
                        </a>
                        <div class="text-muted mb-2">
                            Created: 
                            {% for user in photo.users %}
                                {{ user.username }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <div>Description: {{ photo.description }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <a 
                    href="/create" 
                    class="btn btn-dark btn-lg">
                    Create New Photo
                </a>
            </div>
        </div>
        <div class="col-md-4">
            {% include 'sidebar.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <!-- Link al JS di Bootstrap e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Script personalizzati -->
    <script>
        function toggleSidebar() {
            var sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
{% endblock %}
